@import url(dark.css);

body {
  margin: 0;
  background-color: var(--md-sys-color-background);
  color: var(--md-sys-color-primary);
}

.farq {
  background-color: var(--md-sys-color-background);
  color: var(--md-sys-color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  height:100vh;
}

footer {
  background: var(--md-sys-color-background);
  color: var(--md-sys-color-primary);
  text-align: center;
  padding: 1rem 0;
  position: relative;
  bottom: 0;
  width: 100%;
}

a {
  text-decoration: none;
}

p {
  color: var(--md-sys-color-secondary);
}


label {
  font-size: 0.95rem;
  margin-bottom: 0.25rem;
  color: var(--md-sys-color-primary);
}

textarea,
input,
button {
  background: var(--md-sys-color-secondary);
  color: var(--md-sys-color-primary);
  padding: 12px;
  border-radius: 8px;
}

footer>p {
  margin-top: 2rem;
  padding: 1rem 0;
  text-align: center;
  background: var(--md-sys-color-secondary);
  color: var(--md-sys-color-primary);
}

section {
  max-width: 900px;
  margin: 2rem auto;
  background-color: var(--md-sys-color-secondary);
  border-radius: 12px;
  padding: 2rem;
}

h1,
h2,
h3 {
  text-align: center;
  color: var(--md-sys-color-primary);
  margin-bottom: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.75;
}

button {
  padding: 0.8rem;
  border: none;
  border-radius: 8px;
  background: var(--md-sys-color-secondary);
  color: var(--md-sys-color-primary);
  cursor: pointer;
  margin-top: 0.5rem;
}

button:hover {
  background: var(--md-sys-color-on-primary);
}

input,
select {
  width: calc(100% - 0.75rem * 2);
  padding: 0.7rem;
  margin: 6px 0 0;
  border: 1px solid;
  border-radius: 8px;
  font-size: 0.95rem;
}

input[type="email"],
input[type="password"] {
  padding: 0.7rem;
  border-radius: 8px;
  font-size: 0.95rem;
}

input.otp {
  width: 30px;
  height: 48px;
  text-align: center;
  font-size: 1.25rem;
  border: 1px solid;
  border-radius: 8px;
}

.nav-bar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 60px;
  background: var(--md-sys-color-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 25px;
  gap: 25px;
  color: var(--md-sys-color-primary);
  list-style-type: none;
}


.container {
  background-color: var(--md-sys-color-secondary);
  padding: 30px;
  width: 320px;
  border-radius: 12px;
  text-align: right;
}

.team-member img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
}

.team-member {
  margin-top: 1rem;
  color: var(--md-sys-color-primary);
  text-align: center;
}

.team-member p {
  color: var(--md-sys-color-primary);
  font-size: 1rem;
}

.small {
  font-size: 0.9rem;
  text-align: center;
  margin-top: 0.5rem;
  color: var(--md-sys-color-primary);
}

.container {
  background: var(--md-sys-color-secondary);
  padding: 2rem;
  border-radius: 12px;
  width: 360px;
  max-width: 95%;
}

.wrapper {
  background: var(--md-sys-color-secondary);
  padding: 2rem;
  border-radius: 12px;
  width: 420px;
  max-width: 95%;
}

.text-right {
  text-align: right;
}

.inputs {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  margin-bottom: 1rem;
}

.card {
  padding: 2rem;
  border-radius: 12px;
  width: 420px;
  max-width: 95%;
}
